{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <title>
    {% block title %}
    {% endblock title %}
    </title>
</head>
<body class="container">
    <header>
       
        {% if request.user.is_authenticated%}
            <div class="user_actions">
                <h2>Welcome {{request.user.username}}</h2>
                <div>
                    <a class="link" href="{% url 'logout' %}">Logout</a>
                    <a class="link" href="{% url 'profile' %}">My page</a>
                </div>
            </div>
        {% else %}
            <spam>You are not in the system</spam>
            <a class="link" href="{% url 'login' %}">Sing in</a>
            <a class="link" href="{% url 'register' %}">Sing up</a>
        {% endif %}
        <form action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <input name='next' type='hidden' value='{{ redirect_to }}'>
            <select class="select" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local}} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input class="btn" type="submit" value="Go">
        </form>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>